
<nav class="bg-white shadow-lg">
 <div class="container mx-auto px-4 py-2 flex justify-between items-center">
   <!-- Logo and Business Name (Left Side) -->
   <div class="flex items-center space-x-2">
     <!-- Replace 'logo.svg' with your logo image path -->
     <div> 
       <img src="assets/img/logo.png" alt="Logo" class="h-12 w-12"> <!-- -->
       <p class="text-sm text-gray-500">Gaza Central Company</p>
     </div>

   </div>

   <!-- Middle Section Links -->
   <div class="flex space-x-4">
     <a routerLink="/home" class="text-blue-800">Home</a>
     <a href="#" class="text-blue-800">Visio</a>
     <a href="#" class="text-blue-800">Admin</a>
     <a href="#" class="text-blue-800">Test</a>
     <a href="#" class="text-blue-800">TestText</a>
   </div>

   <!-- Right Section Links -->
   <div class="flex items-center space-x-4">

     <div class="flex items-center ml-5">
       <img src="../../assets/img/logo.png" alt="Logo" class="w-5 h-5 mr-2">
       <span class="text-xs">Pharmacy Name</span>
     </div>

       <!-- Notification Icon -->
       <div class="ml-4 flow-root lg:ml-6">
         <span class="ml-2 text-sm font-medium text-red-600 group-hover:text-red-600">
           cartService.totalItems()
         </span>
         <a routerLink="/home" class="group -m-2 flex items-center rounded-full bg-white p-1 text-gray-400 hover:text-black focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-gray-800">
         <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
           <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"> </path>
         </svg>
         </a>
       </div>
         <!-- Vertical Line -->
       <div class="h-12 border-r border-black mx-4"></div>
       <!-- Dropdown -->
       <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-black bg-white-700 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-gray-300 dark:focus:ring-gray-200" type="button">
        <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg" width="15" height="15"  alt="">
        <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
      
      </button>
      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-20 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li class="flex justify-center p-2 m-1">
            <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/GB.svg" width="15" height="15"  alt="" >  
          </li>
          <li class="flex justify-center p-2 m-1">
            <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/US.svg" width="15" height="15"  alt="" >  
          </li>
          <li class="flex justify-center p-2 m-1">
            <img src="http://purecatamphetamine.github.io/country-flag-icons/3x2/SA.svg" width="15" height="15"  alt="" >  
          </li>
        </ul>
      </div>
      <!-- End-dropdown-->
       
       <!-- Order Now Button -->
       <a href="#" class="flex-none rounded-full bg-lime-500 px-3.5 py-1 text-sm font-semibold text-white shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900">Order now </a>

   </div>
 </div>
</nav>