.card{
  padding:0px !important;
  margin:0px !important;
  margin: 1rem;
  width:100%;
}
  .customize-success{
    color: #4cd07d;
  }
  .customize-danger{
    color: #ff3d32;
  }
  .bg-danger{
    background-color: #ff3d32;
  }

  .custom-table {
    /*border-collapse: collapse;*/
    
    width: 100%;
    
  }
  
  .custom-table th,
  .custom-table td {
    /*border: 1px solid #dddddd;*/
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-size: 1.2vw;

  }
  .custom-table tr {
    font-size: 1.2vw;

  }
  
  .customize-success {
    color: green;
  }
  
  .customize-danger {
    color: red;
  }

  /* Adjust width of the input inside p-cellEditor */
  .custom-input {
    width: 50px; 
  }
  