.card{
  padding:0px !important;
  margin:0px !important;
  margin: 1rem;
  width:100%;
}
  .customize-success{
    color: #4cd07d;
  }
  .customize-danger{
    color: #ff3d32;
  }
  .bg-danger{
    background-color: #ff3d32;
  }

  .custom-table {
    width: 100%;
    
  }
  
  .custom-table th,
  .custom-table td {
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-size: 1.2vw;

  }
  
  .customize-success {
    color: green;
  }
  
  .customize-danger {
    color: red;
  }

  /* Adjust width of the input inside p-cellEditor */
  .custom-input-quantity {
    width: 8vw; 
  }
  .customize-price{
    color:#4cd07d;
  }
  .customize-tot-price{
    font-size:1.2vw;
  }

  /*****************  *********/
  .selected-drug{
    background-color: rgb(251, 251, 204) !important; 
    font-weight: bold;
    color:rgb(55, 150, 163) !important;
    z-index:2;
    border: 5px solid #4cd07d !important;
  }
  /**** To style the  dropdown list ***/
