
<div class="">
  <p-table 
  *ngIf="cartItems$ | async as cartItems" 
  [value]="cartItems" 
  [tableStyle]="{ 'min-width': '100%','min-height': '100%' }" dataKey="id" class="custom-table card">
  
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th style="width:20%">Name</th>
              <th style="width:10%">Quantity</th>
              <th>Drug Status</th>
              <th>Price</th>
              <th>Total Price</th>
              <th>Expire Date</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex" let-editing="editing">
          <tr [style.border]="isDuplicateRow(item) ? '1px solid yellow' : ''">
              <td>{{ item.id }}</td>
              <td >
                <ng-container *ngIf="editorEnabled && editId===item.id; else outputTemplateName">
                  <p-dropdown [options]="drugNames" [(ngModel)]="item.drugName" field="name" (ngModelChange)="onDrugNameChange(item)" class="dropdown-container"></p-dropdown>
                </ng-container>
                <ng-template #outputTemplateName>
                  {{ item.drugName }}
                </ng-template>
              </td>

              <td [pEditableColumn]="item.quantity" pEditableColumnField="quantity" style="width:10%">
                <ng-container *ngIf="editorEnabled && editId===item.id; else outputTemplate">
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="number" [(ngModel)]="item.quantity" (ngModelChange)="updateCartItemQuantity(item, $event)" class="custom-input-quantity" />
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{ item.quantity }}
                    </ng-template>
                  </p-cellEditor>
                </ng-container>
                <ng-template #outputTemplate>
                  {{ item.quantity }}
                </ng-template>
              </td>

              <td>
                <input type="checkbox" 
                [ngClass]="{'customize-success': item.isAvailable, 'bg-danger': !item.isAvailable}"
              
                [checked]="item.isAvailable" disabled />
                <span *ngIf="item.isAvailable" class="customize-success text-sm"> Available</span>

                <span *ngIf="!item.isAvailable" class="customize-danger text-xs"> Unavailable</span>
                
              </td>
              
              <td>{{ item.price }}</td>
              <td>{{ item.totalPrice | number: '1.2-2'  }}</td>
              <td>{{ item.expireDate | date:'dd/MM/yyyy' }}</td>
              <td style="text-align: center;">
                <span style="text-align: center;">
                  <p-button icon="pi pi-times" styleClass="p-button-raised p-button-danger p-button-text p-button-sm" (click)="onDeleteRow(item.id)" ></p-button>
                </span>
                |
                <p-button icon="pi pi-refresh" styleClass="p-button-raised p-button-text p-button-success p-button-sm" (click)="refreshEditor(item.id)"></p-button>

              </td>
              
          </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="customize-tot-price">Total Price: <span [ngClass]="'customize-price'">{{totalSum | currency:'NIS ':'symbol':'1.2-2'}} </span> </td>
        </tr>
    </ng-template>
  </p-table>

  <p-button label="Save" icon="pi pi-check" styleClass="p-button-success p-button-sm btn-save" (click)="saveChanges()" ></p-button>

</div>
