
<div class="container m-5">
  <h3> HOME Component...s</h3>

  <form [formGroup]="selectedDrugForm" class="card p-5 bg-gray-100 ">
  
    <p-dropdown [options]="drugs" formControlName="selectedDrugName" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Drug">
        <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedDrugForm && selectedDrugForm.get('selectedDrugName')?.value">
                <div>{{ selectedDrugForm.get('selectedDrugName')?.value.name}}</div>
            </div>
        </ng-template>

        <ng-template let-drug pTemplate="drug">
            <div class="flex align-items-center gap-2">
                <div>{{ drug.name }}</div>
            </div>
        </ng-template>
    </p-dropdown>

    <input
      class="border rounded p-3 shadow mt-2 w-14 ml-3" 
      type="number"
      formControlName="selectedDrugQuantity"
      min="0" />

      <ng-container *ngIf="isAddButtonVisible()">
        <p-button label="+ Add" (click)="addOrder()" styleClass="p-button-info ml-2"></p-button>
      </ng-container>


     <!--  <p-button label="+ Add" (click)="addOrder()" styleClass="p-button-info ml-2"></p-button>
    -->

  </form>
  <!-- <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p> -->
    <div class="card" *ngIf="errorMessage">
        <p-messages [value]="errorMessage" [closable]="true" ></p-messages>
    </div>
</div>

<hr>
<!-- CartItems -->
<div class="container m-5">
  <app-cart></app-cart>
</div>
